stages:
  - bots
  - lint
  - checks
  - build
  - test
  - e2e
variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_BASE_IMAGE: $CI_REGISTRY_GO/haproxy-debian
  BATS_VERSION: v1.10.0
  GO_VERSION: "1.24"
  DOCKER_VERSION: "26.0"

pipelines-check:
  stage: bots
  needs: []
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
    entrypoint: [""]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  tags:
    - go
  script:
    - go run cmd/gitlab-mr-pipelines/main.go
mr-backport-question:
  stage: bots
  needs: []
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
    entrypoint: [ "" ]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == $CI_DEFAULT_BRANCH
  tags:
    - go
  script:
    - go run cmd/gitlab-mr-checker/main.go
diff:
  stage: lint
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
    entrypoint: [""]
  services:
    - name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-dind
      alias: docker
  tags:
    - go
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  script:
    #- apk add make curl bash jq
    - SWAGGER_VERSION=$(curl -s https://raw.githubusercontent.com/haproxytech/client-native/master/Makefile | grep SWAGGER_VERSION -m 1 | awk -F"=" '{print $2}')
    - wget -q "https://github.com/go-swagger/go-swagger/releases/download/${SWAGGER_VERSION}/swagger_linux_amd64" -O /usr/local/bin/swagger && chmod +x /usr/local/bin/swagger
    - make generate-native
    - test -z "$(git diff 2> /dev/null)" || exit "Specification is not generated, issue \`make generate\` and commit the result"
    - test -z "$(git ls-files --others --exclude-standard 2> /dev/null)" || exit "Specification generation created untracked files, cannot proceed"
diff-spec-parent:
  stage: lint
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  script:
    - make generate-parent-aliases
    - test -z "$(git diff 2> /dev/null)" || exit "Parent aliases are not generated, issue \`make generate-parent-aliases\` and commit the result"
    - test -z "$(git ls-files --others --exclude-standard 2> /dev/null)" || exit "Parent aliases created untracked files, cannot proceed"
golangci-lint:
  stage: lint
  artifacts:
    paths:
      - build
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - make lint
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
gofumpt:
  stage: lint
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - make gofumpt
    - test -z "$(git diff 2> /dev/null)" || exit 'Go code not formatted, issue \`make gofumpt\` and commit the result'
commit-policy:
  stage: lint
  image:
    name: $CI_REGISTRY_GO/commit-check:5.0.4
    entrypoint: [""]
  tags:
    - go
  script:
    - /check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

build:
  stage: build
  artifacts:
    paths:
      - build
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - go env
    - go mod verify
    - make build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

test:
  stage: test
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [ "" ]
  tags:
    - go
  before_script:
    - go env -w "GONOSUMDB=gitlab.int.haproxy.com/*" "GOPROXY=http://goproxy.int.haproxy.com"
  script:
    - go test ./...
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: "$CI_PROJECT_NAMESPACE == 'haproxy-controller' && $CI_PIPELINE_SOURCE == 'push'"

.e2e:
  stage: e2e
  artifacts:
    paths:
      - build
      - e2e/logs/*
    when: on_failure
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION
    entrypoint: [""]
  services:
    - name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-dind
      alias: docker
  variables:
    LOCAL_IP_ADDRESS: docker
  tags:
    - go
  before_script:
    - apk add git bash curl jq git
    - git clone https://github.com/bats-core/bats-core.git && cd bats-core && git checkout $BATS_VERSION && ./install.sh /usr/local && cd ..
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY_GO
  script:
    - bash -x ./e2e/run.bash
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

govulncheck:
  stage: checks
  needs: []
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
    entrypoint: [ "" ]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'schedule' && $SCHEDULE_TYPE == 'daily'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - go.mod
    - if: "$CI_PROJECT_NAMESPACE == 'haproxy-controller' && $CI_PIPELINE_SOURCE == 'push'"
      changes:
        - go.mod
  tags:
    - go
  script:
    - go install golang.org/x/vuln/cmd/govulncheck@latest
    - govulncheck -version
    - go mod tidy
    - go run cmd/govulncheck-report/main.go

HAProxy_2_2:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "2.2"
HAProxy_2_4:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "2.4"
HAProxy_2_6:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "2.6"
HAProxy_2_8:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "2.8"
HAProxy_3_0:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "3.0"
HAProxy_3_1:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "3.0"
HAProxy_3_2:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "3.2"
HAProxy_3_3:
  extends: .e2e
  parallel:
    matrix:
      - TESTPART: ["1/2", "2/2"]
        HAPROXY_VERSION: "3.3"
