name: e2e
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: HAProxy
    strategy:
      matrix:
        haproxy_version: ["2.1", "2.2", "2.3"]
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Downloading required packages
      run: sudo apt-get install bats
    - name: Set up Go 1.19
      uses: actions/setup-go@v1
      with:
        go-version: 1.19
    - run: make e2e
      env:
        HAPROXY_VERSION: ${{ matrix.haproxy_version }}
