name: e2e
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: HAProxy
    strategy:
      matrix:
        haproxy_version: ["3.2"]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Downloading required packages
        run: sudo apt-get install bats
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: make e2e
        env:
          HAPROXY_VERSION: ${{ matrix.haproxy_version }}
